body{
	background-color: #170d0d;
	display:block !important
}

#map {	
	background-color: #417240;
	width: 900px;
	height: 1000px;
	border: none;
}

#mapi{
	touch-action: auto;
}

h1{
	touch-action: none;
}
